<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<style>

    /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
        display: block;
    }

    body {
        line-height: 1;
    }

    ol, ul {
        list-style: none;
    }

    blockquote, q {
        quotes: none;
    }

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }




    .page_break {
        page-break-before: always;
    }

    .container_img_client {
        height: 100px;
        margin-top: 20px;
    }

    .container_info_client {
        height: 25px;
        background-color: #A3A3A3;
        text-align: center;
        padding-top: 5px;
        font-weight: 800;
    }

    .container_titre_orange {
        height: 75px;
        background-color: #E45B1D;
        text-align: center;
        font-weight: bold;
        color: white;
        padding-top: 15px;
        font-size: 25pt;

    }


    .container_message_eco {
        width: 80%;
        margin: 0 auto;
    }

    .container_message_eco p {
        font-size: 20pt;
        text-align: center;
        margin: 35px 0;
    }

    .container_montant_analyse {
        text-align: center;
    }

    .container_gains {
        width: 50%;
        float: left;
        text-align: center;
    }

    .container_gains_annuel {
        width: 50%;
        float: right;
        text-align: center;
    }

    .container_montant_gain {
        display: block;
        width: 100%;
        margin-top: 5%;
    }


    .item_eco_categ {
        width: 150px;
        height: 175px;
        border-radius: 12px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
        margin: 0 18px;
        float: left;
    }

    .header_item_eco {
        height: 75px;
        background-color: #CD853F;
        border-radius: 12px;
    }

    .container_detail {
        width: 90%;
        margin: 0 auto;
        padding-top: 30px;
    }

    .title_detail {
        margin-bottom: 30px;
    }

    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        overflow: hidden;
        word-break: normal;
        border: 1px solid #c4c4c4;
    }

    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        overflow: hidden;
        word-break: normal;
        border: 1px solid #c4c4c4;
    }

    .tg .tg-c3ow {
        text-align: center;
        vertical-align: top
    }

    .tg .tg-0pky {
        text-align: left;
        vertical-align: top
    }

    .tg .tg-0lax {
        text-align: left;
        vertical-align: top
    }




    .space_between {
        height: 170px;
        overflow: auto;
        content: " ";
    }

    .footer {
        text-align: center;
        display: inline-block;
        width: 100%;
    }


    .wrapper ul {
        /* for IE below version 7 use `width` instead of `max-width` */
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
    }

    /** Define the footer rules **/
    footer {
        position: fixed;
        bottom: 0cm;
        left: 0cm;
        right: 0cm;
        height: 1cm;
        line-height: 1.5cm;
        top: 1000px;
        text-align: center;
    }


    .header_item_eco p {
        color: white;
        padding-top: 25px;
        padding-left: 20%;
        font-size: 13pt;
        font-family: 'Helvetica';
    }

    .container_categ table {
        margin: 0 auto;
        width: 90%;
    }

    .container_categ td {
        text-align: center;
        padding: 6px;
        border: 1px solid #c4c4c4;
    }

    .AuditFond1 {
        background-color: #f7cf8e;
    }

    .AuditFond2 {
        background-color: #f1bfbf;
    }

    .AuditFond3 {
        background-color: #b1d5ff;
    }

    .AuditFond4 {
        background-color: #d5ffa7;
    }

    .AuditFond5 {
        background-color: #FFAAB4;
    }

    .AuditFond6 {
        background-color: #F7AE8C;
    }

    .AuditFond7 {
        background-color: #FFEFB3;
    }

    .AuditFond8 {
        background-color: #BEDE9A;
    }

    .AuditFond9 {
        background-color: #A2C0E2;
    }

    .AuditFond10 {
        background-color: #BEE8DF;
    }

    .AuditFond11 {
        background-color: #ECD2F2;
    }

    .AuditFond12 {
        background-color: #E5C6AB;
    }

    table.print-friendly tr td, table.print-friendly tr th {
        page-break-inside: avoid !important;
    }





</style>
<body>


<div class="container_img_client">
    <div style="display:block;text-align:center;">
        <img width="150" src="{{ logo }}" alt="">
    </div>
</div>

<div class="container_info_client">
    <h3 style="font-size: 14px;color: white;font-family: 'Helvetica';">Adresse : {{ client["CL_ADRESSE1"] }}
        - {{ client["CL_CP"] }} {{ client["CL_VILLE"] }}
        {% if users != 0 %}
            Contact : {{ users["CC_PRENOM"] }} {{ users["CC_NOM"] }}
        {% endif %}</h3>
</div>

<div class="container_titre_orange">
    <p style="padding-top: 15px;font-size: 30px;font-family: 'Helvetica';font-weight: 900">ANALYSE TARIFAIRE DE VOS
        FACTURES</p>
</div>


{% if auditEntete[0]["AE_AN_EUR"] > 0 %}
    <div class="container_message_eco">
        <p style="font-family: 'Helvetica';">En adhérant à Achat Centrale, le groupement vous permettrait de réaliser <span
                    style="font-weight: 900;font-size: 30px;font-family: 'Helvetica';">{{ auditEntete[0]["AE_AN_EUR"] | round | number_format(0, ',', ' ') }} €</span> d’économies par an.
        </p>
    </div>
{% else %}
    <div class="space_between" style="height: 60px"></div>
{% endif %}

{% if auditEntete[0]["AE_AN_EUR"] < 0 %}
    <div class="container_montant_analyse">
        <p style="font-family: 'Helvetica';font-family: Helvetica;font-size: 50px;color: #000000;text-align: center;">{{ auditDetail["AD_PRIX_ACTU"] | round | number_format(0, ',', ' ') }}
            €</p>
        <p style="font-family: 'Helvetica';font-family: Helvetica;font-size: 20px;color: #000000;text-align: center;">
            Montant analysé</p>
    </div>

    <div class="container_montant_gain">
        <div class="container_gains">
            <p style="font-family: 'Helvetica';font-family: Helvetica;font-size: 50px;color: #000000;">{{ auditEntete[0]["AE_TOTAL_EUR"] | round | number_format(0, ',', ' ') }}
                €</p>
            <p style="font-family: 'Helvetica';font-family: Helvetica;font-size: 20px;color: #000000;">Gains</p>
            <p style="font-family: 'Helvetica';font-family: Helvetica;font-size: 20px;color: #7CB33C;text-align: center;">{{ auditEntete[0]["AE_TOTAL_PCT"] | round | number_format(0, ',', ' ') }}
                %</p>
        </div>
        <div class="container_gains_annuel">
            <p style="font-family: 'Helvetica';font-family: Helvetica;font-size: 50px;color: #000000;">
                {% if auditEntete[0]["AE_AN_EUR"]  > 0 %}
                    {{ auditEntete[0]["AE_AN_EUR"] | round | number_format(0, ',', ' ') }} €
                {% else %}
                    {{ auditEntete[0]["AE_AN_PCT"] }} %
                {% endif %}
            </p>
            <p style="font-family: 'Helvetica';font-family: Helvetica;font-size: 20px;color: #000000;">Gains annuel</p>
            <p style="font-family: 'Helvetica';font-family: Helvetica;font-size: 20px;color: #7CB33C;text-align: center;">{{ auditEntete[0]["AE_AN_PCT"] }}%</p>
        </div>
    </div>


    {% else %}



        <div class="container_montant_gain">
            <div class="container_gains">
                <p style="font-family: 'Helvetica';font-family: Helvetica;font-size: 50px;color: #000000;text-align: center;">{{ auditDetail["AD_PRIX_ACTU"] | round | number_format(0, ',', ' ') }}
                    €</p>
                <p style="font-family: 'Helvetica';font-family: Helvetica;font-size: 20px;color: #000000;text-align: center;">
                    Montant analysé</p>
            </div>
            <div class="container_gains_annuel">
                <p style="font-family: 'Helvetica';font-family: Helvetica;font-size: 50px;color: #000000;">{{ auditEntete[0]["AE_TOTAL_EUR"] | round | number_format(0, ',', ' ') }}
                    €</p>
                <p style="font-family: 'Helvetica';font-family: Helvetica;font-size: 20px;color: #000000;">Gains</p>
                <p style="font-family: 'Helvetica';font-family: Helvetica;font-size: 20px;color: #7CB33C;text-align: center;">{{ auditEntete[0]["AE_TOTAL_PCT"] | round | number_format(0, ',', ' ') }}
                    %</p>
            </div>
        </div>


{% endif %}



<div class="space_between"></div>

<div class="container_categ">
    <table>
        <tr>
            <td style="font-size: 14pt; font-weight: 800;" >Catégories</td>
            <td style="font-size: 14pt; font-weight: 800;" >Prix actuel</td>
            <td style="font-size: 14pt; font-weight: 800;" >Prix Centrale</td>
            <td style="font-size: 14pt; font-weight: 800;" >Economies</td>
        </tr>
        {% for c in catLst %}
            <tr>
                <td class="AuditFond{{ loop.index }}">{{ c["CatTitre"] | encodingFrom }}</td>
                <td>{{ c["AD_PRIX_ACTU"] | round | number_format(0, ',', ' ') }} €</td>
                <td>{{ c["AD_PRIX_CA"] | round | number_format(0, ',', ' ') }} €</td>
                <td style="font-size: 11pt; font-weight: 800;" >{{ c["AD_ECO_PCT"] }} %</td>
            </tr>
        {% endfor %}

    </table>
</div>




<div class="page_break"></div>

<div class="container_detail">
    <div class="title_detail">
        <p style="font-family: 'Helvetica';font-family: Helvetica;font-size: 30px;color: #4A4A4A;margin-top: 50px;font-weight: 200 !important;">Détail de l'audit</p>
    </div>
    <div class="container_table_detail">
        <table style="width: 100%;" class="tg print-friendly">
            <tr>
                <th class="tg-0pky" style="text-align: center" >Produit</th>
                <th class="tg-0pky" style="text-align: center;width: 15%;" >Réf</th>
                <th class="tg-0pky" style="text-align: center;width: 35%;">Désignation</th>
                <th class="tg-0pky" style="text-align: center" >Qté</th>
                <th class="tg-0pky" style="text-align: center" >Prix actuel</th>
                <th class="tg-0lax" style="text-align: center" >Prix Centrale</th>
                <th class="tg-0lax" style="text-align: center" >Économies</th>
            </tr>

            {% for d in detail_audit %}
                <tr>
                    <td class="tg-c3ow AuditFond{{ loop.index }}" colspan="7">{{ d["categorie"] | encodingFrom  }}</td>
                </tr>
                {% for p in d["produits"] %}
                    <tr>
                        <td class="tg-0pky">
                            <img src="{{ p["PR_ID"] | photo }}" alt="" style="max-width: 70px;min-height: 50px;">
                        </td>
                        <td class="tg-0pky" style="text-align: center;width: 15%;">{{ p["AD_REF"] }}</td>
                        <td class="tg-0pky" style="width: 35%;" >{{ p["AD_DESCR"] | encodingFrom  | raw }}</td>
                        <td class="tg-0pky" style="text-align: center;">{{ p["AD_QTE"] }}</td>
                        <td class="tg-0pky" style="text-align: center;">{{ p["AD_PRIX_ACTU"]  | number_format(2, ',', ' ') }} €</td>
                        <td class="tg-0pky" style="text-align: center;">{{ p["AD_PRIX_CA"] | number_format(2, ',', ' ') }} €</td>
                        <td class="tg-0pky" style="text-align: center;font-size: 11pt; font-weight: 800;">{{ p["AD_ECO_EUR"]  | number_format(2, ',', ' ') }} €</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
</div>


<div>
</div>

</body>
</html>