{% extends 'base.html.twig' %}

{% block body %}


    <div id="id_user_actual" class="container-hide" style="display: none">{{ list['APP_ID'] }}</div>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Nom de l'application : <b>{{ list['AU_NAME'] }}</b></h1>
            <p class="lead">Clé api : <b>{{ list['AU_SECRET'] }}</b></p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ path('list_api_user') }}" role="button">Retour a l'accueil</a>
            </p>
        </div>
    </div>

    <div class="container ">

        <div class="row ">
            <div class="col-6">

            </div>
            <div class="col-6">

                <h2>Historique d'utilisation</h2>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Ressource</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for hist in history  %}
                        <tr>
                            <th scope="row">{{ hist['AH_DATE'] |date("d - M - Y") }}</th>
                            <td>{{ hist['AH_RESSOURCE'] }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>


    </div>


{% endblock %}